<div class ="row">
    <div class="users" *ngFor="let users of users$ | async">
        <div class="user-info">
            <h1 class="user-nom">{{users.nom}}</h1>
            <h2 class="user-mail">{{users.email}}</h2>
        </div>
    </div>
</div>



<!-- <form>
    <input type="file" #fileInput (change)="uploadFile(fileInput.files[0])">
    <button type="submit">Upload</button>
</form> -->

<!-- <form>
    <input type="file" (change)="uploadFile($event.target as HTMLInputElement)">
    <button type="submit">Upload</button>
</form> -->





